* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  --chosen-grey: rgb(190, 176, 176);
}

body {
  display: flex;
  height: 100vh;
}

.left-container {
  width: 70%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  border: right;
  border-right: 1px solid var(--chosen-grey);
}

#display {
  height: 15%;
  display: flex;
  flex-direction: column;
  text-align: right;
}

#display > p {
  height: 50%;
}

#calculations {
  font-size: 2rem;
  font-weight: 300;
}

#screen {
  font-size: 2.5rem;
}

#calculator {
  display: grid;
  height: 70%;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

.button {
  background-color: white;
  border: 1px solid var(--chosen-grey);
  border-radius: 5px;
  font-size: 2rem;
}

.button:active {
  background-color: var(--chosen-grey);
}

#operations {
  text-align: right;
  width: 30%;
  padding: 1.5rem;
  overflow: scroll;
}

.operation {
  font-size: 2rem;
  margin: 1rem 0;
}
